@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Lobster&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700&family=Roboto:ital,wght@0,400;1,100&display=swap');

/*--Section entete de page début--*/  
:root{
    --green: #00A988;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'open sans light';
    box-sizing: border-box;    
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--green);
    color: #000000;
}

html{
    overflow-x: hidden;
    font-size: 62.5%;
}

html ::-webkit-scrollbar{
    width: 1.4rem;
}

html ::-webkit-scrollbar-track{
    background: #000000;
}

html ::-webkit-scrollbar-thumb{
    background: var(--green); 
}

body{
    background: #000000;
    overflow-x: hidden;
    padding-left: 35rem;
}

/*--Section entete de page fin--*/  

/*--Section accueil début--*/  

section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding: .7rem 3rem;
    color: #fff;
    background: #212121;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:#00A988;
}

.titre{
    text-align: center;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #fff4;
    color: #fff;
}

.titre span{
    color: var(--green);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    display: flex;
    background: #212121 ;
    align-items: center;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    padding-top: 2rem;
}

header .user img{
     height: 17rem;
     width: 17rem;
     border-radius: 50%;
     object-fit: cover;
     margin-bottom: 1rem;
     border: .3rem solid var(--green);
}

header .user .nom{
    font-size: 3rem;
    color: #fff;
}

header .user .titre{
    font-size: 2rem;
    color: #fff;
}

header .navbar{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

}

header .navbar ul{
   list-style: none;
   padding: 1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin:1rem 0;
    background:#333 ;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;
    list-style: none;
}

header .navbar ul li a:hover{
    background: var(--green);
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;   
}

.accueil{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;   
}

.accueil h3{
    font-size: 2.7rem;
    color: #fff;
}

.accueil h1{
    font-size: 2.7rem;
    color: #fff;    
}

.accueil p{
    font-size: 2rem;
    color: #fff;   
    padding: 1rem 0; 
    text-align: justify;
    line-height: 3rem;
}

/*--Section accueil fin--*/  

/*--Section A propos de moi début--*/  

.A-propos-de-moi .row{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.A-propos-de-moi .les-boites div{
    display: inline-block;
}

.A-propos-de-moi .row .info{
    padding: 1rem 2rem;
    padding-left: 3rem;   
    line-height: 8rem;
    width: 40%;       
}

.A-propos-de-moi .row .info h3{
    font-size: 2rem;
    padding: 0 1rem;
    font-weight: normal;
    color: var(--green); 
}

.A-propos-de-moi .row .info h3 span{
    color: #fff;
    padding: 0 .7rem;   
}

.A-propos-de-moi .row .bio{    
    width: 45%; 
    float: right;
    padding-bottom: 20px;
}

.A-propos-de-moi .row .bio{    
    color: #fff;
    font-size: 20px;
   
}

/*--Section A propos de moi fin--*/  

/*--Section ma formation début--*/

.Cursus .boite-conteneur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.Cursus .boite-conteneur .box{
    width: 27rem;
    margin:4rem 1rem;
    padding-left: 2rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.Cursus .boite-conteneur .box span{
    font-size: 1.3rem;
    background: #212121;
    color: #fff;
    border-radius: 5rem;
    padding: 1rem 1rem;
}

.Cursus .boite-conteneur .box h3{
    font-size: 1.7rem;
    padding-top: 1.5rem;
    color: #fff;
} 

.Cursus .boite-conteneur .box p{
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1rem 0;
    text-align: justify;    
    color: #fff;
} 

.Cursus .boite-conteneur .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
}

/*--Section ma formation fin--*/

/*--Section mes expériences début--*/

.mes-expériences .conteneur{
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 2rem 0;
    flex-wrap: wrap;
    padding-left: 3rem;
}

.mes-expériences .conteneur .boxe{
    padding: 0 2rem;
    width: 25rem;
    padding-bottom: 4rem;
    border-left: .2rem solid #fff;
    color: #fff;
}

.mes-expériences .conteneur .boxe .année{
     font-size: 2rem;    
     position: relative;
     color: var(--green);
}

.mes-expériences .conteneur .boxe .année::before{
    position: absolute;
    content: '';
    top: 3rem ;
    left: -3.1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
}

.mes-expériences .conteneur .boxe h4{
     font-size: 2rem;
     color: #fff;
     padding-top: 1rem;
}

.mes-expériences .conteneur .boxe p{
    font-size: 1.5rem;
    color: #fff;
    padding-top: 1rem 0;
}

/*--Section mes expériences fin--*/

/*--Section mes réalistions début--*/

.mes-réalisations .containner-card{
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-left: 3rem;
}
.mes-réalisations .containner-card .card{
    height: 600px;
}
.mes-réalisations .containner-card .card .btn{
    position: absolute;
    bottom: 10px;
}
.mes-réalisations .containner-card .card p{
    font-size: 16px;
}

.mes-réalisations .containner-card .card .card-title{
    font-size: 17px;
    color: #000000;
}
.cards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
    padding: 2rem 0;
    width: 100%;
    column-gap: 1rem;row-gap: 1rem;
}
/*--Section mes réalisations fin--*/

/*--Section pourquoi me recruter début--*/

.compter{
    flex: 1 1 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;        
}

.compter .box{
    width: 40rem;
    background:#212121;
    text-align:center ;
    padding:2rem;
    margin: 2rem;
}

.compter .box span{
    font-size: 4rem;
    color: var(--green);
}

.compter .box h3{
    font-size: 2rem;
    color: #fff;
}

/*--Section me contacter début--*/

.Contacter .rows{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Contacter .rows .contenu-fin{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}
.Contacter .rows .contenu-fin infos-wrapper{
    background-color: saddlebrown;
}
.Contacter .rows .contenu-fin .media{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 60px;  
    margin: auto;
}

.Contacter .rows .contenu-fin .media a {
    color: #00A988;
    text-decoration: none;
}

.Contacter .rows .contenu-fin .media a:hover{
    color: #fff;
}

.Contacter .rows form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.Contacter .rows form .boxe{
    padding: 1.2rem;
    margin: 1rem 0;
    background: #212121;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.Contacter .rows form .message{
     height: 15rem;
     resize: none;
}

.Contacter .rows .contenu-fin .début{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    padding-bottom: 2rem;
}

.Contacter .rows .contenu-fin .infos h3{
      /*display: flex;
      align-items: center;*/
      font-size: 1.7rem;
      padding: 0;
      color: #fff;
      font-weight: normal;
}

.Contacter .rows .contenu-fin .infos h3 i{
    padding: 1rem;
    color: var(--green);    
}

.Contacter .rows .copyright{
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.Contacter .rows .copyright span{
    color: #00A988;
}



/*--Section me contacter fin--*/


/******************Media*/
@media only screen and (max-width: 1200px) {
    header{
        padding-top: 2rem;
    }
    section#accueil.accueil{
        padding: 5rem;
    }
}
@media only screen and (max-width: 768px) {
    body{
        padding-left: 0;
        display: flex;
        flex-flow: column;
    }
    header{
        position: relative;
        z-index: 1;
        width: 100vw;
    }
}
@media only screen and (max-width: 576px) {
    section#accueil.accueil{
        padding: 5rem;
    }

}


@media only screen and (max-width: 1023px) {
    .cards-wrapper .card{
        margin: auto;
        width: 100%;
    }
    section.A-propos-de-moi .les-boites .row{
        display: flex;flex-flow: column;justify-content: center;align-items: center;
        width: 100%;
    }
    section.A-propos-de-moi .les-boites .row .info,.bio{
        width: 100% !important;
        margin: auto !important;
        padding: 1rem 3rem;
    }
}
